<p>Edit Order Form</p>
<form class="" action="/student_list/<%= @student.id %>" method="post">
  <label for="first-name">First Name:</label>
    <input id="first-name" value="<%= @student.first_name%>" type="text" name="first_name" />
  </br>

  <label for="last-name">Last Name:</label>
    <input id="last-name" value="<%= @student.last_name%>" type="text" name="last_name" />
  </br>

   <label for="house_id">House ID:</label>
    <input id="house_id" value="<%= @student.house_id %>" type="integer" name="house_id" />
  </br>

      <div class="form-el">
      <label for="house_select">Select House:</label> 
      <select name="house_id" id="house_select">
        <% @house.each do |house| %>
          <%# Takes house id value on submit, but displays house name. %>
            <option value=<%= house.id %> selected><%= house.name %></option>
        <% end %>
      </select>
    </div>
  </br>
    
  </br>
  <label for="age">Age:</label>
    <input id="age" value="<%= @student.age%>" type="integer" name="age" />
  </br>

 
    <input type='submit' value="Update Student"/>

